<div ng-controller="formCtrl">
	<div class="panel">
		<div class="panel-heading text-center">
			<h1>Inserisci i tuoi dati:</h1>
		</div>
		<form class="form-horizontal" name="form" novalidate >
			<div class="panel-body">

				<div class="row verticalSpace">
					<div class="col-md-4">
						<label class="maroon">Nome</label>
						<input type="text" class="form-control" ng-model="person.name" required placeholder="inserisci il tuo nome">
					</div>
					<div class="col-md-4">
						<label class="maroon">Cognome</label>
						<input type="text" class="form-control" ng-model="person.surname" required placeholder="inserisci il tuo cognome">
					</div>
					<div class="col-md-4">
						<label class="maroon">Data</label>
						<div class="input-group date datepicker" id="calendar"  data-date-format="dd-mm-yyyy">
							<input type="text" class="form-control" placeholder="dd/mm/yyyy" ng-model="person.birthday" required />
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
				</div>
				<div class="row verticalSpace">
					<div class="col-md-4">
						<label class="maroon">Via</label>
						<textarea class="form-control" ng-model="person.street" placeholder="inserisci l'indirizzo" rows="3"></textarea>
					</div>
					<div class="col-md-4">
						<label class="maroon">Cap</label>
						<input type="text" class="form-control" ng-model="person.cap" only-digits maxlength="5"
							placeholder="inserisci il codice di apertura postale">

					</div>
					<div class="col-md-4">
						<label class="maroon">Citta'</label>
						<select class="form-control" ng-model="person.city">
							<option value="Rome">Rome</option>
							<option value="Paris">Paris</option>
							<option value="New York">New York</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="checkbox alignCorrection">
							<label class="maroon">
								<input type="checkbox" ng-model="person.degree">
								Laurea?
							</label>
						</div>
					</div>
					<div class="col-md-8" ng-show="person.degree">
						<label class="radio-inline">
							<input type="radio" ng-model="person.type" value="triennale">
							Triennale
						</label>
						<label class="radio-inline">
							<input type="radio" ng-model="person.type" value="magistrale">
							Magistrale
						</label>
						<label class="radio-inline">
							<input type="radio" ng-model="person.type" value="master">
							Master
						</label>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<div class="row">
					<div class="col-md-12">
						<div align="center">
							<button class="btn btn-default" ng-disabled="form.$invalid" ng-click="createPerson();resetForm()" >Conferma</button>
							<button class="btn btn-default" ng-click="show=!show" data-toggle="collapse" data-target="#collapse-tabella" aria-expanded="false">Visualizza
								altri utenti</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<div class="panel" ng-show="show&&showTable()">
		<div class="row">
			<div class="col-md-12">
				<div class="collapse" id="collapse-tabella">
					<div class="table-responsive">
						<table class="table table-bordered">
							<thead id="thead">
								<tr>
									<th>Nome</th>
									<th>Cognome</th>
									<th>Eta'</th>
									<th>Laurea</th>
									<th>Azioni</th>
								</tr>
							</thead>
							<tbody id="table-body">
								<tr ng-repeat="person in people">
									<td>{{person.name}}</td>
									<td>{{person.surname}}</td>
									<td>{{person.age}}</td>
									<td>{{person.degree}}</td>
									<td>
										<button class="btn btn-danger" ng-click="removePerson($index)">Delete</button>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>