<div class="panel">
	<div class="panel-heading text-center">
		<h1>Inserisci i tuoi dati:</h1>
	</div>
	<div class="panel-body">
		<form class="form-horizontal" id="form">
			<div class="row verticalSpace">
				<div class="col-md-4">
					<label class="maroon" for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" placeholder="inserisci il tuo nome">
				</div>
				<div class="col-md-4">
					<label class="maroon" for="cognome">Cognome</label>
					<input type="text" class="form-control" id="cognome" placeholder="inserisci il tuo cognome">
				</div>
				<div class="col-md-4">
					<label class="maroon" for="data">Data</label>
					<div class="input-group date datepicker" id="data" data-date-format="dd-mm-yyyy">
						<input type="text" class="form-control" placeholder="dd/mm/aaaa" id="birthday" />
						<span class="input-group-addon">
							<span class="glyphicon glyphicon-calendar"></span>
						</span>
					</div>
				</div>
			</div>
			<div class="row verticalSpace">
				<div class="col-md-4">
					<label class="maroon" for="via">Via</label>
					<textarea class="form-control" id="via" placeholder="inserisci l'indirizzo" rows="3"></textarea>
				</div>
				<div class="col-md-4">
					<label class="maroon" for="cap">Cap</label>
					<input type="text" class="form-control" id="cap" maxlength="5" oninput="digit_limit_5()" onkeypress="return isNumberKey(event)"
						placeholder="inserisci il codice di apertura postale">
				</div>
				<div class="col-md-4">
					<label class="maroon" for="città">Città</label>
					<select class="form-control">
						<option value="Rome">Rome</option>
						<option value="Paris">Paris</option>
						<option value="New York">New York</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="checkbox alignCorrection">
						<label class="maroon">
							<input type="checkbox" id="laurea" onchange="valueChanged()">
							Laurea?
						</label>
					</div>
				</div>
				<div class="col-md-8 hide" id="tipo_laurea">
					<label class="radio-inline">
						<input type="radio" name="tipo" value="triennale">
						Triennale
					</label>
					<label class="radio-inline">
						<input type="radio" name="tipo" value="magistrale">
						Magistrale
					</label>
					<label class="radio-inline">
						<input type="radio" name="tipo" value="master">
						Master
					</label>
				</div>
			</div>
		</form>
	</div>
	<div class="panel-footer">
		<div class="row">
			<div class="col-md-12">
				<div align="center">
					<button class="btn btn-default" onclick="confirm()">Conferma</button>
					<button class="btn btn-default" data-toggle="collapse" data-target="#collapse-tabella" aria-expanded="false" onclick="addRows()"
						id="altriUtenti">Visualizza altri utenti</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="panel hide" id="table_panel">
	<div class="row">
		<div class="col-md-12">
			<div class="collapse" id="collapse-tabella">
				<div class="table-responsive">
					<table class="table table-bordered" id="tabella">
						<thead id="thead">
							<tr>
								<th>Nome</th>
								<th>Cognome</th>
								<th>Età</th>
								<th>Laurea</th>
								<th>Azioni</th>
							</tr>
						</thead>
						<tbody id="table-body">
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>