<div class="jumbotron myJumboStyle">
	<div class="row">
		<div class="col-md-1">
			<img class="img-responsive" alt="pippo-gif" src="assets/images/gifPippo.gif">
		</div>
		<div class="col-md-11">
			<h1>Benvenuto!</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h3>
				Su questa pagina troverai tutte le informazioni su di me! Ovvero Pippo! Non solo... Avrai anche l'opportunita' di iscriverti per entrare a
				far parte della nostra community.
				<br>
				<br>
				Clicca sul pulsante "Registrati", immetti rapidamente i tuoi dati e riceverai tutte le notizie sui nostri disco-party in stile Disney!
			</h3>
		</div>
	</div>
</div>