
<div class="row">
	<div class="col-md-12 text-center">
		<h1>Davide Pignotti</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-1">
		<img alt="Pippo" src="assets/images/pippo.jpg" class="img-responsive borderBlack">
	</div>
	<div class="col-md-11">
		<ul class="list-unstiled">
			<li>
				<span class="label label-default">Nome: </span>
				<span>Davide</span>
			</li>
			<li>
				<span class="label label-default">Cognome: </span>
				<span>Pignotti</span>
			</li>
			<li>
				<span class="label label-default"> Data: </span>
				<span data-toggle="tooltip" data-placement="right" title="gg/mm/aaaa">11/11/1900</span>
			</li>
			<li>
				<span class="label label-info">Città: </span>
				<span>Roma</span>
			</li>
			<li>
				<span class="glyphicon glyphicon-envelope"> </span>
				<span class="label label-info">Email: </span>
				<a href="mailto:pippo@gmail.com" target="_newtab">pippo@gmail.com</a>
			</li>
			<li>
				<span class="glyphicon glyphicon-earphone"> </span>
				<span class="label label-info">Telefono: </span>
				<span> 333 222 111 11</span>
			</li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Dati anagrafici</div>
			<div class="panel-body">
				<div class="col-md-4">1</div>
				<div class="col-md-4">2</div>
				<div class="col-md-4">3</div>
			</div>

		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Esperienze lavorative</div>
			<div class="panel-body ">
				<ul>
					<li>esperienza 1</li>
					<li>esperienza 2</li>
					<li>esperienza 3</li>
				</ul>
			</div>
			<div class="panel-footer">
				<button type="button" class="btn btn-primary btn-large" data-toggle="modal" data-target="#myModal">Skill</button>
			</div>
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="purchaseLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title">Skill</h4>
						</div>
						<div class="modal-body">
							<table class="table table-responsive table-bordered">
								<thead>
									<tr>
										<th>Skill</th>
										<th>Anni di esperienza</th>
										<th>Luogo</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>skill1</td>
										<td>1</td>
										<td>Azienda 1</td>
									</tr>
									<tr>
										<td>skill2</td>
										<td>2</td>
										<td>Azienda 2</td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">Istruzione</div>
			<div class="panel-body">Ho conseguito il titolo di.................................................</div>
		</div>
	</div>
</div>
