<div class="panel panel-info">
	<div class="panel-heading text-center panel-title-shadow">Contatti</div>
	<table ng-repeat="contact in contacts">
		<thead>
			<tr>
				<td>Nome</td>
				<td>Telefono</td>
				<td>Email</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>contact.name</td>
				<td>contact.tel</td>
				<td>contact.email</td>
				<td><button class="btn btn-warning">Modifica</button></td>
				<td><button class="btn btn-info">Dettagli</button></td>
			</tr>
		</tbody>
	</table>
</div>