<div class="row">
	<div class="col-xs-10">
		<div class="panel panel-default">
			<div class="panel-heading">REGIONE</div>
			<div class="panel-body">
				<canvas></canvas>
			</div>
			<div class="panel-footer">

				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a data-target="#attacks" aria-controls="attacks" role="tab" data-toggle="tab">attacks</a></li>
					<li role="presentation"><a data-target="#objects" aria-controls="objects" role="tab" data-toggle="tab">objects</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="attacks">
						<div class="row">
							<div class="col-xs-6">
								<button class="btn btn-primary btn-block">Attack</button>
								<button class="btn btn-primary btn-block">Ranged Attack</button>
							</div>
							<div class="col-xs-6">
								<button class="btn btn-warning btn-block">Special Attack</button>
								<button class="btn btn-danger btn-block">Magic Attack</button>
							</div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane" id="objects">
						<div class="list-group">
							<button type="button" class="list-group-item">
								<span class="badge">10</span>Potion
							</button>
							<button type="button" class="list-group-item">
								<span class="badge">14</span>Attack potion
							</button>
							<button type="button" class="list-group-item">
								<span class="badge">14</span>Defense potion
							</button>
							<button type="button" class="list-group-item">
								<span class="badge">14</span>Magic points potion
							</button>
							<button type="button" class="list-group-item">
								<span class="badge">14</span>Focus potion
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-2">
		<div class="panel">
			<div class="panel-heading">
				<label>Nome:</label> {{player.name}}
			</div>
			<div class="panel-body">
				<label>Statistiche:</label>
				<ul class="list-unstyled">
					<li><label>Hp:</label> {{player.hp}}</li>
					<li><div class="progress">
							<div id="hp-bar" class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
						</div></li>
					<li><label>Mp:</label> {{player.mp}}</li>
					<li><div class="progress">
							<div id="mp-bar" class="progress-bar" role="progressbar progress-bar-info" aria-valuemin="0" aria-valuemax="100"></div>
						</div></li>
					<li><label>Atk:</label> {{player.atk}}</li>
					<li><label>Def:</label> {{player.def}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>